.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.app-main-content {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}
